<html>
<head>
    <link rel="stylesheet" th:href="@{/assets/third-party/bootstrap/dist/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <font color="white"><h3 th:text="#{login.header}"/></font>
</nav>
<br/><br/><br/><br/>
<div th:if="${error}">
    <div align="center">
        <p th:text="${error}"/>
    </div>
</div>
<div class="container">
    <form autocomplete='off' class='cssform' id='loginForm' method='POST' th:action="@{/login}">
        <div class="form-group">
            <label for="username"><h4 th:text="#{login.username}"/></label>
            <input class="form-control" id='username' name='username' placeholder="username" type="text"/>
        </div>
        <div class="form-group">
            <label for="password"><h4 th:text="#{login.password}"/></label>
            <input class="form-control" id='password' name='password' placeholder="password" type="password"/>
        </div>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" id="btn-success" type="submit"><h5 th:text="#{login.action}"/>
        </button>
        <br/>
    </form>
</div>
<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <a class="navbar-brand" th:href="#{project.repository}"><p th:text="#{login.footer}"/></a>
    </nav>
</footer>
</body>
</html>